---
import Valuation from '../Valuation/Valuation.astro'
import { createLeftTable, createRightTable } from './growth'

const financial = Astro.props.financial
const company = Astro.props.company

const financialTable = createLeftTable(Astro.props.financial)
const companyTable = createRightTable(Astro.props.financial, Astro.props.company)
---

<h2 class="mt-5 text-center text-2xl font-bold">Average Growth Rates</h2>

<div class="flex justify-between">
  <div class="flow-root">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-500">
          <thead>
            <tr>
              <th
                scope="col"
                class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
              ></th>
              {
                financialTable.cols.map((a) => (
                  <th
                    scope="col"
                    class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
                  >
                    {a}
                  </th>
                ))
              }
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-700">
            {
              financialTable.rowsArray.map((row) => (
                <tr>
                  <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
                    {row.label}
                  </td>
                  {financialTable.rows[row.id].map((a) => (
                    <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                      {a.displayedValue}
                    </td>
                  ))}
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="flow-root">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-500">
          <thead>
            <tr>
              <th
                scope="col"
                class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
              ></th>
              {
                companyTable.cols.map((a) => (
                  <th
                    scope="col"
                    class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
                  >
                    {a}
                  </th>
                ))
              }
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-700">
            {
              companyTable.rowsArray.map((row) => (
                <tr>
                  <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
                    {row.label}
                  </td>
                  {companyTable.rows[row.id].map((a) => (
                    <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                      {a.displayedValue}
                    </td>
                  ))}
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="mt-8">
  <Valuation company={company} financial={financial} financialTable={financialTable} />
</div>
