---
import Card from '../ui/Card'
import Table from '../ui/Table/Table'
import Tbody from '../ui/Table/Tbody'
import Td from '../ui/Table/Td'
import Th from '../ui/Table/Th'
import Valuation from '../Valuation/Valuation'
import { createLeftTable, createRightTable } from './growth'

const financial = Astro.props.financial
const company = Astro.props.company

const financialTable = createLeftTable(Astro.props.financial)
const companyTable = createRightTable(Astro.props.financial, Astro.props.company)
---

<h2 class="mt-8 text-lg font-medium leading-6 text-gray-900">Average Growth Rates</h2>
<div class="mt-2 flex flex-col justify-between gap-8 xl:flex-row">
  <Card>
    <Table>
      <thead>
        <tr>
          <Th />
          {financialTable.cols.map((a) => <Th>{a}</Th>)}
        </tr>
      </thead>
      <Tbody>
        {
          financialTable.rowsArray.map((row) => (
            <tr>
              <Td>
                <p class="text-gray-500">{row.label}</p>
              </Td>
              {financialTable.rows[row.id].map((a) => (
                <Td>
                  <p class="font-medium text-gray-900">{a.displayedValue}</p>
                </Td>
              ))}
            </tr>
          ))
        }
      </Tbody>
    </Table>
  </Card>
  <Card>
    <Table>
      <thead>
        <tr>
          <Th />
          {companyTable.cols.map((a) => <Th>{a}</Th>)}
        </tr>
      </thead>
      <Tbody>
        {
          companyTable.rowsArray.map((row) => (
            <tr>
              <Td>
                <p class="text-gray-500">{row.label}</p>
              </Td>
              {companyTable.rows[row.id].map((a) => (
                <Td>
                  <p class="font-medium text-gray-900">{a.displayedValue}</p>
                </Td>
              ))}
            </tr>
          ))
        }
      </Tbody>
    </Table>
  </Card>
</div>
<Valuation client:load company={company} financial={financial} />
