---
import Historical from '../components/Historical/Historical.astro'
import Main from '../Layouts/Main.astro'
const { ticker } = Astro.params
// const response1 = await fetch(`https://roic.ai/financials/${ticker}`)
// const rawHtmlFinancials = await response1.text()
// const response2 = await fetch(`https://roic.ai/company/${ticker}`)
// const rawHtmlCompany = await response2.text()
// const apiKey = process.env.API_KEY_ALPHA_VANTAGE
// const response3 = await fetch(
//   `https://www.alphavantage.co/query?function=OVERVIEW&symbol=${ticker}&apikey=${apiKey}`
// )
// const apiKey = process.env.API_KEY_FINANCIAL_MODELING_PREP
// const response3 = await fetch(
//   `https://financialmodelingprep.com/api/v3/income-statement/${ticker}?apikey=${apiKey}&limit=120`
// )
// const globalInfo = await response3.json()
import { rawHtmlFinancials } from '../dummy/METAfinancials'
import { rawHtmlCompany } from '../dummy/METAcompany'
import { getFinancial } from '../utils/roicAi/financial'
import { getCompany } from '../utils/roicAi/company'
import Growth from '../components/Growth/Growth.astro'
import Container from '../components/ui/Container'

const company = getCompany(rawHtmlCompany)
const financial = getFinancial(rawHtmlFinancials)
---

<Main>
  <Container>
    <div class="mt-8">
      <h1 class="text-6xl font-black tracking-wide text-primary">{ticker}</h1>
    </div>
    <div class="mt-8">
      <Historical company={company} financial={financial} />
    </div>
    <div class="mt-8">
      <Growth company={company} financial={financial} />
    </div>
  </Container>
</Main>
