---
// import { rawHtmlFinancials } from '../../components/financialsDummy'
// import { rawHtmlCompany } from '../../components/companyDummy'
import { getFinancial } from './financial'
import { getCompany } from './company'
import { average } from '../../utils/financial'
const response1 = await fetch('https://roic.ai/financials/META')
const rawHtmlFinancials = await response1.text()
const response2 = await fetch('https://roic.ai/company/META')
const rawHtmlCompany = await response2.text()

const financial = getFinancial(rawHtmlFinancials)
const company = getCompany(rawHtmlCompany)
// Average to last 3 years of EPS
const eps3YearsAvg = average(financial.table.slice(-3).map((t) => t.eps))
const fcf3YearsAvg = average(financial.table.slice(-3).map((t) => t.fcf))
---

<div class="flow-root">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-500">
        <thead>
          <tr>
            <th
              scope="col"
              class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
            ></th>
            {
              financial.table.map((a) => (
                <th
                  scope="col"
                  class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
                >
                  {a.year}
                </th>
              ))
            }
            <th
              scope="col"
              class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
              >TTM</th
            >
            <th
              scope="col"
              class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
              >3 Years Avg.</th
            >
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-700">
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              Equity
            </td>
            {
              financial.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.equity}
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              EPS</td
            >
            {
              financial.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.eps}
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0"
              >{company.epsTtm}</td
            >
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0"
              >{eps3YearsAvg.toFixed(2)}</td
            >
          </tr>
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              Cash from OA</td
            >
            {
              financial.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.cashFromOA}
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              Revenue
            </td>
            {
              financial.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.revenue}
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              ROE
            </td>
            {
              company.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.roe}%
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              ROIC
            </td>
            {
              company.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.roic}%
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              CAPEX
            </td>
            {
              financial.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.capex}
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">-</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-semibold text-white sm:pl-0">
              Free Cash Flow
            </td>
            {
              financial.table.map((a) => (
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">
                  {a.fcf}
                </td>
              ))
            }
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0">TOFIND</td>
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-300 sm:pl-0"
              >{fcf3YearsAvg.toFixed(2)}</td
            >
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  // TODO: delete
  import { rawHtmlFinancials } from '../../components/financialsDummy'
  import { rawHtmlCompany } from '../../components/companyDummy'
  import { getFinancial } from './financial'
  import { getCompany } from './company'
  // const response = await fetch('https://roic.ai/financials/META')
  // const rawHtml2 = await response.text()
  // const response = await fetch('https://roic.ai/company/META')
  // const rawHtml2 = await response.text()

  const financial = getFinancial(rawHtmlFinancials)
  const company = getCompany(rawHtmlCompany)
  console.log(company)
</script>
